@import "tailwindcss";

@theme {
  --color-brand-darkblue: #092d77;    /* Az eredeti --tengerszin  092d77 100eae 1e40af 1e3a8a */
  --color-brand-navy: #1a3059;        /* Az eredeti overlay sötétkékje */
  --color-brand-slate: #555555;       /* Az eredeti szürke másodlagos szövegszín */
  --color-brand-green: #00bf00;       /* Az eredeti --zold */
  --color-brand-lightgray: #f4f6fb;   /* Az eredeti --vilagos háttér */
  --color-brand-lilac: #c5cfe0;       /* Az eredeti űrlap keret (border) színe */
}

@layer base {
  body {
    @apply bg-white text-[#222222] antialiased;
  }
}